<!DOCTYPE html>
<html>
  <head>
    <title>Word-to-Number-ifier!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Your Number Reads ...</h1>
    <p>@Model.NtWs</p>
    <a href="/">Retry</a>
  </body>
</html>